<div class="container flex flex-col max-w-screen-sm justify-center items-center mx-auto py-10 bg-amber-400">
  <mat-card class="w-full">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="flex flex-col justify-center items-center">
      <form [formGroup]="loginForm" class="w-full">
        <mat-form-field class="w-full">
          <input matInput placeholder="Login" formControlName="email">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSubmitForm()">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
